@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
body {
    background-color: white;
}
h1 {
    font-size: 60px;
    font-family: 'Luckiest Guy', cursive;
    color: rgb(236, 88, 88);
    /* text-align: center; */
}

h2 { 
    font-family: 'Luckiest Guy', cursive;
    color: white;
}
h3 {
    font-family: 'Raleway', sans-serif;
    color: white;
}
button {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    border-radius: 8px;
    background-color: white;
    color: darkgrey;
    border: 2px solid darkgrey;
    padding: 5px;
    margin: 10px;
}
.container{
    height: 100px;
    width: 100%; 
}
#stopwatch {
    width: 100%;
    font-size: 45px;
    color: darkgrey;
    font-family: 'Raleway', sans-serif;
    margin: 0px auto;
}
.points {
    font-size: 45px;
    color: darkgrey;
    font-family: 'Raleway', sans-serif;
    margin: 0px auto; 
}
.card {
    margin: 5px;
    /* background-color: rgb(236, 88, 88); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

}
.card {
    height: 150px;
    width: 150px;
}
.front {
    background: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.back {
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.modal {
    background-color: rgb(236, 88, 88);
    padding: 30px;
    width: 50vw;
    max-width: 500px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    top: 45%;
    /* centering */
    transform: translateY(-45%) ;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
}
.modal.open {
    display: block;
}
.nextLevelModal {
    background-color: rgb(236, 88, 88);
    padding: 30px;
    width: 50vw;
    max-width: 500px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    top: 45%;
    /* centering */
    transform: translateY(-45%) ;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
}
.nextLevelModal.open {
    display: block;
}
.card.flip {
    transform: rotateY(180deg);
}
.card.isMatch {
    transform: rotateY(180deg);
    pointer-events: none;
}

.grid {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}
.card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s;
}
.front, .back {
    width: 100%;
    height: 100%;
    padding: 100;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
}

.front {
    transform: rotateY(180deg);
}